@model School_Project.Models.StudentsCourses.ListCoursesAvaliableVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th></th>
    </tr>

    @foreach (var course in Model.CoursesVM)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.TeacherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.NumberVacancies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.EndDate)
            </td>
            <td>

                @if (course.StudentIncluedInCourse)
                {
                    <button type="button" class="btn btn-success" onclick="coursesStudents.includedStudentOneCourse('@Model.IdStudent', '@course.Id')">Sing in</button>
                }
                else
                {
                    <button type="button" class="btn btn-danger" onclick="coursesStudents.removeStudentOneCourse('@Model.IdStudent', '@course.Id')">Remove</button>
                }
            </td>
        </tr>
    }

</table>


<script type="text/javascript" src="~/Scripts/Utils/Utils.js"></script>
<script type="text/javascript" src="~/Scripts/CoursesStudents/LinkCourseManyStudents.js"></script>

<script type="text/javascript">

    $(function () {
        Util();
        coursesStudents();
    });

</script>
