@model School_Project.Models.StudentsCourses.ListCoursesAvaliableVM


@Html.Partial("~/Views/Shared/_partial/_modal.cshtml")

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<br />

<strong>Student: </strong>@Model.FirstName @Model.SurName
<br />
<br />

<table id="datatable" class="display" style="width:100%">

    <thead>
        <tr>
            <th>
                Course Name
            </th>
            <th>
                Teacher Name
            </th>
            <th>
                Vacancies Number
            </th>
            <th style="width: 25%">
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var course in Model.CoursesVM)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => course.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => course.TeacherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => course.NumberVacancies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => course.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => course.EndDate)
                </td>
                <td>

                    @if (course.StudentIncluedInCourse)
                    {
                        <button type="button" class="btn btn-success btn-sm" onclick="coursesStudents.includedStudentOneCourse('@Model.IdStudent', '@course.Id')">Join</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger btn-sm" onclick="coursesStudents.removeStudentOneCourse('@Model.IdStudent', '@course.Id')">Remove</button>
                    }
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>Course Name</th>
            <th>Teacher Name</th>
            <th>Vacancies Number</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>


@*<a href="~/Views/Shared/_partial/_modal.cshtml">~/Views/Shared/_partial/_modal.cshtml</a>*@

@section scripts{

    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Utils/Utils.js"></script>
    <script type="text/javascript" src="~/Scripts/CoursesStudents/CoursesStudents.js"></script>
    <script type="text/javascript">


        $(function () {

            $('#datatable').DataTable();

            Util();
            coursesStudents();
        });

    </script>
}
