@model IEnumerable<School_Project.Entities.Course>

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

<br />
<a href="/Courses/Create" class="btn-success btn-sm">+ Include Course</a>
<br />
<br />


<table id="datatable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Teacher Name
            </th>
            <th>
                Vacancies Number
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberVacancies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a href="/CoursesStudents/ListStudentsAvaliableIncluedInCourse/@item.Id" class="btn btn-primary btn-sm">Link Student</a>
                    <a href="/Courses/Edit/@item.Id" class="btn btn-secondary btn-sm">Edit</a>
                    <a href="/Courses/Details/@item.Id" class="btn btn-info btn-sm">Details</a>
                    <a href="/Courses/Delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Teacher Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Vacancies Number</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>

@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Utils/Utils.js"></script>
    <script type="text/javascript" src="~/Scripts/CoursesStudents/CoursesStudents.js"></script>
    <script type="text/javascript">


        $(function () {

            $('#datatable').DataTable();

            Util();
            coursesStudents();
            coursesStudents.dataTables();
        });

    </script>
}
